{% load l10n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⏳ Time | Less Stupidly Spent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'track_time/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container" style="margin-top: 1rem">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% autoescape off %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} " {% endif %}> {{ message }}</div>
                {% endautoescape %}
            {% endfor %}
        </div>
    {% endif %}
    {% if activities %}
        {% for a in activities %}
            <form style="margin: 0 .5em .5em 0; display: inline-block;" action="{% url 'add_acted_activity' a.id %}"
                  method="post">
                {% csrf_token %}
                <button type="submit"
                        {% if a.activity_type == "good" %}
                        class="btn-success btn"
                        {% elif a.activity_type == "bad" %}
                        class="btn-danger btn"
                        {% else %}
                        class="btn-secondary btn"
                        {% endif %}
                >{{ a.name }}</button>
            </form>
        {% endfor %}
    {% else %}
        <p>No activities are available.</p>
    {% endif %}
    <hr>
    <ul class="list-inline">
        {% for d, name in month_days %}
            <li class="list-inline-item"><a href="?date={{ d|date:"Y-m-d" }}">{{ name }}</a></li>
        {% endfor %}
    </ul>

    <div class="container">
    <div class="row">
    <div class="col-md-6 col-sm-12">

    {% if acted_activities|length > 1 %}
        <div id="pieChart" style="margin: 0 0 20px;"></div>
        <script>
            const data = [{
                type: "pie",
                values: {{acted_activities.values}},
                labels: {{acted_activities.labels|safe}},
                marker: {
                    colors: [
                        {% if "bad" in acted_activities.labels %}
                            '#f8d7da',
                        {% endif %}
                        {% if "good" in acted_activities.labels %}
                            '#d1e7dd',
                        {% endif %}
                        {% if "necessary" in acted_activities.labels %}
                            '#e2e3e5',
                        {% endif %}
                    ]
                },
                {#textinfo: "label+percent",#}
                textinfo: "percent",
                insidetextorientation: "radial"
            }];
            const layout = {
                height: 300,
                width: 300,
                margin: {"t": 10, "b": 10, "l": 10, "r": 10},
                showlegend: false
            };
            const config = {
                staticPlot: true,
                displayModeBar: false,
                responsive: true
            }
        </script>
    {% endif %}
</div>

        <div class="col-md-6 col-sm-12">

    <table class="table">
        {% for n, v, t in acted_activities.totals %}
            <tr {% if t == "good" %}
                class="table-success"
            {% elif t == "bad" %}
                class="table-danger"
            {% else %}
                class="table-secondary"
            {% endif %}>
                <td>{{n}}</td><td>{{v}}</td></tr>
        {% endfor %}
    </table>
    </div>
</div>
</div>



    <table class="table">
        <tbody>
        {% for a in acted_activities %}
            <tr {% if a.activity.activity_type == "good" %}
                class="table-success"
            {% elif a.activity.activity_type == "bad" %}
                class="table-danger"
            {% else %}
                class="table-secondary"
            {% endif %}>
                <td class="align-middle">
                    <span class="badge text-dark">{{ a.finished|date:"H:i" }}</span>
                </td>
                <td class="align-middle" style="padding-left: 0" width="100%">
                    {{ a.activity.name }} <span
                        class="badge rounded-pill border border-secondary text-secondary">{{ a.duration }}</span>
                </td>
                <td class="align-middle">
                    <form style="display: inline-block;" action="{% url 'remove_acted_activity' a.id %}">
                        <button class="btn btn-danger" type="submit">&times;</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<footer>
    <p><br></p>
</footer>

{% if acted_activities|length > 1 %}
    <script defer src="{% static 'track_time/js/plotly-2.11.1.min.js' %}"></script>
    <script>
        window.addEventListener('DOMContentLoaded', _ => Plotly.newPlot('pieChart', data, layout, config));
    </script>
{% endif %}
</body>
</html>