{% load l10n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⏳ Time | Less Stupidly Spent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'track_time/css/bootstrap.min.css' %}">
    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top: 1rem">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% autoescape off %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} " {% endif %}> {{ message }}</div>
                {% endautoescape %}
            {% endfor %}
        </div>
    {% endif %}
    {% if activities %}
        {% for a in activities %}
            <form style="margin: 0 .5em .5em 0; display: inline-block;" action="{% url 'add_acted_activity' a.id %}" method="post">
                {% csrf_token %}
                <button type="submit"
                {% if a.activity_type == "good" %}
                    class="btn-success btn"
                {% elif a.activity_type == "bad" %}
                    class="btn-danger btn"
                {% else %}
                    class="btn-secondary btn"
                {% endif %} 
                >{{ a.name }}</button>
            </form>
        {% endfor %}
    {% else %}
        <p>No activities are available.</p>
    {% endif %}    
    <hr>
    <ul class="list-inline">
        {% for d, name in month_days %}
            <li class="list-inline-item"><a href="?date={{d|date:"Y-m-d"}}">{{name}}</a></li>
        {% endfor %}
    </ul>

    {% if acted_activities|length > 1 %}
        <div id="pieChart"></div>
        <script>
            var data = [{
                type: "pie",
                values: {{acted_activities.values}},
                labels: {{acted_activities.labels|safe}},
                marker: {
                    colors: [
                    '#d1e7dd',
                    '#f8d7da',
                    '#e2e3e5'
                    ]
                },
                textinfo: "label+percent",
                insidetextorientation: "radial"
            }];
            var layout = { height: 400, width: 400, showlegend: false };
            Plotly.newPlot('pieChart', data, layout);
        </script>
    {% endif %}

    <table class="table">
        <tbody>
        {% for a in acted_activities %}
            <tr {% if a.activity.activity_type == "good" %}
                    class="table-success"
                {% elif a.activity.activity_type == "bad" %}
                    class="table-danger"
                {% else %}
                    class="table-secondary"
                {% endif %}>
                <td class="align-middle">
                    <span class="badge text-dark">{{ a.finished|date:"H:i" }}</span>
                </td>
                <td class="align-middle" style="padding-left: 0" width="100%">
                    {{a.activity.name}} <span class="badge rounded-pill border border-secondary text-secondary">{{a.duration}}</span>
                </td>
                <td class="align-middle">
                <form style="display: inline-block;" action="{% url 'remove_acted_activity' a.id %}">
                    <button class="btn btn-danger" type="submit">&times;</button>
                </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<footer>
    <p><br></p>
</footer>
</body>
</html>